.content {
  .description {
    margin: auto 350px;
  }
}

.hero {
  //margin-top: 150px;
  text-align: center;
  border-bottom: 1px solid #C9CACC;

  img {
    width: 45%;
  }
}

.blurb {
  text-align: center;
  padding: 30px;
}
